@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 55px;
    line-height: 55px;
    margin-left: 120px;

}

.image {
    width: 400px;
    height: 160px;
}

.icon-1 {
    width: 400px;
    height: 328px;
    border-radius: 30px;
    border: 1px solid black;
}

pre {
    font-size: 25px;
    margin-left: 20px;
}

h2 {
    margin-left: 20px;
}

.column-1 .column-2 .column-3 {
    display: flex;
    flex-direction: column;
}

.container-4 {
    display: flex;
    justify-content: space-between;
}

.col-4 {
    margin: 30px 30px;
}

.container-5 {
    background-color: #EFEFEF;
    width: 1440px;
    height: 780px;
}

h1 {
    font-size: 50px;
    width: 987px;
    margin-top: 20px;
}

.text-5 {
    width: 700px;
    height: 203px;
    font-size: 20px;
    line-height: 30px;
    margin: 40px 46px 50px 45px;
}

.block-5 {
    width: 800px;
    height: 400px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: white;
    margin: 10px 0px 20px 10px;
}

.image-5 {
    margin: -30px 0px 0px 30px;
    padding-bottom: 20px;
}

.name-icon {
    margin: -125px 0px 0px 200px;
}

.fb-icon {
    margin-left: 20px;
}

@media screen and (max-width: 960px) {



    h1 {
        font-size: 30px;
    }

    .image {
        width: 250px;
        height: 100px;
    }

    .icon-1 {
        width: 250px;
        height: 228px;
        border-radius: 20px;
        border: 1px solid black;
    }
    h2{
        margin-left: 15px;
        font-size: 20px;
    }
    pre{
        font-size: 20px;
    }
    .container-5{
        width: 900px;
        height: 500px;
    }
    .text-5{
        font-size: 15px;
    }

}

@media screen and (max-width: 600px) {
    .container-4{
        display: block;
    }
    .container-5{
        width: 500px;
        height: 500px;
    }
    .block-5 {
        width: 400px;
        height: 360px;
        border: 1px solid black;
        border-radius: 30px;
        background-color: white;
        margin: 10px 0px 20px 10px;
    }
    h1{
        font-size: 20px;
    }
    .text-5{
        font-size: 15px;
        width: 380px;
        height: 250px;
        margin: 20px 20px 20px 20px;
    }
}